.head {
  padding: 4rem;
  max-width: 900px;
  margin: 0 auto;
  //   padding: 1rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    color: #172048;
  }
  p {
    color: #172048;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 13px;
  }
}
